body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(102, 98, 98);
    height: 100%;
    width: 90%;
    
    
    
    
    
    
}

nav {
    
    width: 90px;
    height: 40px;
    display: flex;
    
    color: white;
   
   

}




.nav-bar {
    display: flex;
    padding-left: 1030%;
    flex-direction: flex-end;
    
    
}

#hamburger {
    display: none;
    
    
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: 990%;
    
    
}
 
.correction {
    width: 500px;
    padding-left: 300px;
}

.line {
    text-decoration: none;
}

li {
    margin: 5px;
   color: color;
   text-decoration: none;
    
   
}
 
.n {
    color: white;
}


img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
     
}

.box {
    background-color: rgb(133, 127, 127);
    width: 600px;
    height: 470px;
    padding-top: 5px;
    margin: 100px;
   align-items: center;
    border-radius: 130px;
    text-align: center;
}


.herologo {
    width: 300px;
    height: 300px;
    
    
    border: 0;
    border-radius: 100px;
    align-items: center;
    justify-content: flex-end;
}


.hero-text {
    
    margin: 40px;
    margin: 10px;
    margin: 5px;
    font-style: oblique;
    justify-content: flex-end;
    
}
 
h1 {
    font-style: oblique;
    margin-left: 30px;
    padding-left: 50px;
    margin-top: auto;
    
    
     
}

.txt {
    width: 500;
}
p {
    
    margin-bottom: 50px;
    border-bottom: 50px;
    padding-right: 100px;
}

.section-lite {
   
   display: flex;
   flex-direction: center;
   align-items: center;
   text-align: center;
}

.about.me-container {
   width: 50px;
   height: 40px;
   border: 30px;
   padding: 10px;
   margin: 10px;
}
 
.text {
    
    width: 500px;
    margin: 5px;
    margin-top: 50px;
    text-align: center;
}

.about-me {
    font-style: oblique;
    width: 1000px;
    font-size: 50px;
    margin: 20px;
    padding: 10px;
}

.headshot {
    display: flex;
    flex-direction: flex-end;
    width: 300px;
    height: 200px;
    padding: 30px;
    margin-left: 5px;
    border-radius: 50px;
    align-items: center;


}



.section-pro {
    
    height: 50%;
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 50px;
    
}

.experiance-container {
    width: 1500px;
    height: 1300px;
    padding: 50px;
    margin: 20px;
    border: 20px;
}

.experiance {
    width: 1000px;
    height: 50px;
    font-size:50px;
    text-align: center;
    align-items: center;
    margin: 50px;
    margin-top: 5px;
    padding: 40px;
    padding-top: 5px;
    flex-wrap: wrap;
    
}

table {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   


}

.more {
     
    font-size: 30px;
}

thead {
    width: 300px;
    height: 60px;
    margin: 5px;
    padding: 5px;

}

tr {
    margin: 2px;
    padding: 50px;
}

td {
    margin: 2px;
    padding: 50px;
    border-bottom: 100px;
    flex-wrap: wrap;
}

.section-alternative {
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-radius: 50px;
    
    
    
   
}


h4 {
    font-size: 40px;
    font-style: oblique;
    width:500px;
    padding-left: 350px;
}


h3 {
    font-style: oblique;
  font-size:  30px; 
  text-align: center;

}

.work-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}


#project {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

hr {
    margin-left:  10px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: blue;
}

a {
    text-decoration: none;
    color: white;
}
p {
  width: 200px;
  font-size: medium;
  padding: 10px;
  margin: 10px;
  font-style: oblique;
   
}

.project-card {
   width: 300px;
   height: 500px;box-shadow: 5px 5px 20px rgb(197, 194,194);
   padding-bottom: 20px;
   border-radius: 40px; 
   margin: 10px;   
}

/*.project-image {
   margin-top: 25px;
   width: 250px;
   border-radius: 125px;
   margin: 10px;
}*/

.subtext {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-style: oblique;
}

/*hr {
    font-style: italic;
    color: white;
    
}*/

.section-super {
    background-color: rgb(59, 59, 59);
    width: 600px;
    height: 800px;
    border: 50px;
    padding-left: 60px;
    margin: 100px;
    align-items: center;
    border-radius: 50px;
    
}

.contact-container {
    margin: 20px;
    height: 50px;
    border: 20px;
}

.contact-me {
    padding-top: 20px;
    width: 1000px;
    font-size: 40px;
    margin: 140px;
    font-style: oblique;
}

.socials {
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    /*width: 10px;
    margin: 10px;
    padding-left: 0px;
    border-radius: 50px;*/
    margin-top: 20px;
    margin-bottom: 5px;
}

input {
    
    font-style: italic;
}

label {
    
    font-style: italic;
}

.form {
    
    width: 30px;
    height: 50px;
    margin: 100px;
    margin-bottom: 10px;
    padding: 5px;
}

.signup {
    width: 60px;
    height: 35px;
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form1 {
    
    width: 30px;
    height: 20px;
    
    margin-left: 100px;
    padding: 10px;
}


.form2 {
    
    width: 30px;
    height: 10px;
    margin-left: 100px;
    padding: 10px;
}

.form3{
    
    width: 30px;
    height: 20px;
    margin: 5px;
    margin-left: 100px;
    padding: 10px;
}

.form4 {
    
    width: 30px;
    height: 20px;
    margin: 5px;
    margin-left: 100px;
    padding: 10px;
}

.submit {
    
    width: 400px;
    height: 35px;
    border-radius: 10px;
    margin-left: 390px;
    margin: 70px;
}

.ending {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   flex-wrap: wrap;
   color: black;
   
   

}

.outt {
    background-color: rgb(56, 57, 58);
    border-radius: 40px;
    font-size: 40px;
    font-style: italic;
    width: 90px; 
    text-align: center;
    border-radius: 15px;
    
 }
 
.Reaching-container {
    text-align: center;
    font-style: italic;
    flex-wrap: wrap;
    
}

.t{
    color: black;
    
    
}

.me {
    
    font-size: 30px;
    font-style: oblique;
    text-align: center;
    color:aliceblue;
    border-radius: 50;
    line-break: hidden;
    flex-wrap: wrap;
}



.dare {
   list-style-type: none;
   
   
   
}

td {
    
    list-style-type: none;
    color: black;
    text-decoration-line: none;
   
}

h2 {
  margin-top: 6px;
  padding: 5px;
  width: 100px;
  font-style: oblique;
 
}

.unique {
    display: flex;
    flex-direction: center;
    padding-left: 20px;

}

button {
    font-style: oblique;
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 45px;
    background-color: darkgrey;
}

button:hover {
   background-color: white;
   
}


button:active {
    width:auto;
    height:auto;
    background-color: #A9a9a9a9;
    color: #808080;

}


.option {
    margin: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.copyright {
    color: black;
}

.footer_copy {
    font-style: italic;
    width: 600px;
    text-align: center;
    margin-left: 400px;
    flex-wrap: wrap;
    color: black;
    
}



@media only screen and (max-width: 1000px) {
    .work-container {
        display: flex;
        flex-wrap: wrap;
    }
    .project-image {
        margin-top: 25px;
        width: 250px;
        border-radius: 125px;
        margin: 10px;
    }

    hr {
        margin-left: 10px;
        margin-right: 20px;
        text-decoration: none;
    }

    .project-link {
        text-decoration: none;
        color: #ef744b;
    }

    a {
        text-decoration: none;
        color: grey;
    }

    td {
        display: flex;
        flex-wrap: wrap;
    }

    /*.hamburger {
        display: none;
    }*/
    
    .hamburger:focus {
        outline: 0;
    }

}


@media only screen and (max-width: 700px) {
    .hamburger {
        /*display: block;*/
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        /*align-items: flex-end;*/

    }

    ul {
        display: none;
        background-color: #1c1d25;
        margin: 0;
    }

    ul.show {
        display: block;
       
    }
    nav {
        align-items: flex-start;
        flex-direction: column-reverse;
        background-color: #1c1d25;
    }

    .logo {
        display: none;
    }
    .correction {
        display: flex;
        flex-wrap:wrap ;
    }
    .text {
        display: flex;
        flex-wrap: wrap;
    }
    .option {
        display: flex;
        flex-wrap: wrap;
    }
}


